conda create --name transformer_env

deactivate
conda deactivate

conda install -c anaconda ipykernel
conda install -c conda-forge ipywidgets
conda install -c huggingface transformers
conda install -c conda-forge sentencepiece
conda install pytorch torchvision torchaudio cpuonly -c pytorch
conda install -c anaconda thinc
pip install thinc-gpu-ops